.panel-result {
  &-title {
    margin-top: 0;
  }

  &-state {
    font-weight: bold;

    &-running {
      color: #0E5A8A;
    }

    &-resolved {
      color: #0A6640;
    }

    &-cancelled {
      color: #A66321;
    }

    &-rejected {
      color: #A82A2A;
    }
  }
}
