.panel-summary {
  &-task-name {
    font-weight: bold;
    margin-top: 0;
  }

  &-label {
    display: inline-block;
    width: 10ch;
    color: rgba(0, 0, 0, 0.5);
  }

  &-state {
    font-weight: bold;

    &-running {
      color: #0E5A8A;
    }

    &-resolved {
      color: #0A6640;
    }

    &-cancelled {
      color: #A66321;
    }

    &-rejected {
      color: #A82A2A;
    }
  }
}
