@import '~@blueprintjs/core/src/common/variables';
@keyframes highlight-outer {
  100% {
    opacity: 1 !important;
    background-color: rgba($pt-intent-warning, 0.5);
  }
}

@keyframes highlight-inner {
  100% {
    color: $pt-intent-warning;
  }
}

@keyframes highlight-inner-dark {
  100% {
    color: $orange4;
  }
}

.log {
  .spans {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .toolbar {
      padding: 0 $pt-grid-size;
      background-color: $light-gray5;
      box-shadow: $pt-elevation-shadow-1;
      height: $pt-grid-size * 3;
      display: flex;

      .bp3-dark & {
        background-color: $dark-gray5;
        box-shadow: $pt-dark-elevation-shadow-1;
      }

      .options {
        align-self: center;
        margin-left: auto;
      }
    }

    .list {
      flex-grow: 1;

      .item {
        margin: 1px;
        cursor: pointer;
        transition: opacity 0.1s ease;

        .name {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          direction: rtl;
          text-align: left;
        }

        &.highlight {
          animation: highlight-outer 0.5s ease-in-out alternate 6;

          &[class*='bp3-icon-']::before,
          > .bp3-icon:first-child,
          .bp3-heading {
            animation: highlight-inner 0.5s ease-in-out alternate 6;
          }

          .bp3-dark & {
            &[class*='bp3-icon-']::before,
            > .bp3-icon:first-child,
            .bp3-heading {
              animation: highlight-inner-dark 0.5s ease-in-out alternate 6;
            }
          }

          &:hover {
            animation: none;

            &[class*='bp3-icon-']::before,
            > .bp3-icon:first-child,
            .bp3-heading {
              animation: none;
            }
          }
        }
      }

      .children {
        margin-left: $pt-grid-size * 2;
      }

      &:hover,
      &.has-selection {
        .item {
          opacity: 0.6;

          &:hover {
            opacity: 1;
          }

          &.child-selected,
          &.selected {
            opacity: 1;
          }
        }
      }
    }
  }
}
