@import '~@blueprintjs/core/src/common/variables';

.server-dialog {
  .#{$ns}-dialog-footer {
    text-align: center;
  }

  .bp3-card {
    display: flex;

    h5 {
      margin-bottom: 0;
      line-height: $pt-grid-size * 3;
      flex-grow: 1;
    }

    .#{$ns}-button {
      transition: opacity $pt-transition-duration $pt-transition-ease;
    }

    &:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:hover) {
      .#{$ns}-button {
        opacity: 0.2;
      }
    }
  }
}
