.timeline {
  &-out-of-bounds {
    background-color: rgba(200, 200, 200, 0.2) !important;
    backdrop-filter: blur(2px);
  }

  &-execution {
    font-size: 10px;

    &-unfinished {
      background: none !important;
    }
  }

  &-context-timing-self {
    height: 4px !important;
    background: #97B0F8 !important;
  }
}
